/* Root */
/* Fonts */
@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Bold.eot");
  src: url("GalanoGrotesque-Bold.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Bold.woff2") format("woff2"),
    url("GalanoGrotesque-Bold.woff") format("woff"),
    url("GalanoGrotesque-Bold.ttf") format("truetype"),
    url("GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Regular.eot");
  src: url("GalanoGrotesque-Regular.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Regular.woff2") format("woff2"),
    url("GalanoGrotesque-Regular.woff") format("woff"),
    url("GalanoGrotesque-Regular.ttf") format("truetype"),
    url("GalanoGrotesque-Regular.svg#GalanoGrotesque-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Thin.eot");
  src: url("GalanoGrotesque-Thin.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Thin.woff2") format("woff2"),
    url("GalanoGrotesque-Thin.woff") format("woff"),
    url("GalanoGrotesque-Thin.ttf") format("truetype"),
    url("GalanoGrotesque-Thin.svg#GalanoGrotesque-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Medium.eot");
  src: url("GalanoGrotesque-Medium.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Medium.woff2") format("woff2"),
    url("GalanoGrotesque-Medium.woff") format("woff"),
    url("GalanoGrotesque-Medium.ttf") format("truetype"),
    url("GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-ExtraBold.eot");
  src: url("GalanoGrotesque-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-ExtraBold.woff2") format("woff2"),
    url("GalanoGrotesque-ExtraBold.woff") format("woff"),
    url("GalanoGrotesque-ExtraBold.ttf") format("truetype"),
    url("GalanoGrotesque-ExtraBold.svg#GalanoGrotesque-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Fonts */
  --font-main: "Galano Grotesque", sans-serif;

  /* Colors */
  --solid-black: #000000;
  --solid-white: #ffffff;
  --color-main: #e6455a;
  --color-grey: #f1f1f1;
  --color-pink: #ffb6b6;

  --linear-grad-left: #ff7366;
  --linear-grad-right: #e6455a;
  --color-grad-main: linear-gradient(
    to right,
    var(--linear-grad-left),
    var(--linear-grad-right)
  );
}

/**************************************************************
**************************************************************/
/* Initiate */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--solid-black);
}
body {
  font-family: var(--font-main);
}

.bold-text {
  font-weight: 700;
}

/**************************************************************
**************************************************************/
/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.nav-logo {
  margin-left: 2.5rem;
}

.nav_elements {
  flex-grow: 0.5;
}

.nav_elements ul {
  display: flex;
  justify-content: space-between;
}

.sign_up {
  margin-right: 4rem;
}

.btn-main {
  /* Gradient Text */
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Gradient Text End*/
  padding: 0.5rem 1.5rem;
  position: relative;
}

.btn-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2.375rem;
  border: 2px solid transparent;
  background: var(--color-grad-main) border-box;
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/* .btn-main:hover {
  border-radius: 2.375rem;
  border: 2px solid transparent;
  background: var(--color-grad-main) border-box;
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
} */

#sign-up-btn {
  margin-left: 2.7rem;
}

.nav_elements ul .active {
  font-weight: 600;
  position: relative;
  /* Gradient Text */
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Gradient Text End*/
}

.nav_elements ul .active::after {
  content: "";
  width: calc(100% + 20px);
  height: 5px;
  background: var(--color-grad-main) border-box;
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 0;
}

.nav_elements ul .not-active:hover {
  /* Gradient Text */
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Gradient Text End*/
  transition: 0.4s;
}

.nav_elements ul .not-active {
  position: relative;
}
.nav_elements ul .not-active::after {
  content: "";
  width: 100%;
  height: 5px;
  background: var(--color-grad-main) border-box;
  position: absolute;
  top: 25px;
  left: 0;
  opacity: 0;
}

.nav_elements ul .not-active:hover::after {
  animation: LtoR 0.4s forwards;
}
/**************************************************************
**************************************************************/
/* Hero */
.hero {
  margin-top: 1.75rem;
  height: 35rem;
  width: 100%;
  background: url(./images/hero-bg.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5.6875rem;
  padding-left: 6rem;
}

.hero h3 {
  font-size: 2.3125em;
  font-weight: 500;
  color: var(--color-main);
}

.hero h1 {
  font-size: 7.25em;
  font-weight: 500;
  color: var(--color-main);
}

.hero p {
  font-size: 1.375em;
  font-weight: normal;
  color: var(--solid-black);
  margin-top: 0.4rem;
}

.btn-red {
  color: var(--solid-white);
  background-color: var(--color-main);
  padding: 0.9375rem 1.5625rem;
  border: 2px solid var(--color-main);
  border-radius: 1.8rem;
  font-size: 1.375em;
  transition: color 0.6s, background-color 0.6s, border-color 0.6s;
}

.btn-red:hover {
  background-color: var(--solid-black);
  border-color: var(--solid-black);
}

.btn-trans {
  color: var(--color-main);
  padding: 0.9375rem 1.5625rem;
  border: 2px solid var(--color-main);
  border-radius: 1.8rem;
  font-size: 1.375em;
  transition: color 0.6s, background-color 0.6s;
}

.btn-trans:hover {
  color: var(--solid-white);
  background-color: var(--color-main);
}

.hero-btns {
  margin-top: 2.1875rem;
}

/**************************************************************
**************************************************************/
/* Section 1 */

.s1-content {
  width: 72%;
  margin: 5.25rem auto;
}

.s1-row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.9375rem;
}

.s1-row2 {
  display: flex;
  justify-content: space-between;
}

.cycle-temp {
  display: flex;
  flex-direction: column;
  width: 17.875rem;
  height: 17.875rem;
  background-color: var(--color-grey);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.cycle-temp:hover {
  animation: spin 0.6s forwards;
}

.cycle-temp > img {
  margin-top: -2rem;
}

.cycle-temp > h2 {
  font-size: 2.3125rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cycle-temp > p {
  font-size: 1.3125rem;
}

.pink-circle {
  background-color: var(--color-pink);
}

/**************************************************************
**************************************************************/
/* Animations */
@keyframes LtoR {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes straightUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
