/* Root */
/* Fonts */
@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Bold.eot");
  src: url("GalanoGrotesque-Bold.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Bold.woff2") format("woff2"),
    url("GalanoGrotesque-Bold.woff") format("woff"),
    url("GalanoGrotesque-Bold.ttf") format("truetype"),
    url("GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Regular.eot");
  src: url("GalanoGrotesque-Regular.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Regular.woff2") format("woff2"),
    url("GalanoGrotesque-Regular.woff") format("woff"),
    url("GalanoGrotesque-Regular.ttf") format("truetype"),
    url("GalanoGrotesque-Regular.svg#GalanoGrotesque-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Thin.eot");
  src: url("GalanoGrotesque-Thin.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Thin.woff2") format("woff2"),
    url("GalanoGrotesque-Thin.woff") format("woff"),
    url("GalanoGrotesque-Thin.ttf") format("truetype"),
    url("GalanoGrotesque-Thin.svg#GalanoGrotesque-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Medium.eot");
  src: url("GalanoGrotesque-Medium.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Medium.woff2") format("woff2"),
    url("GalanoGrotesque-Medium.woff") format("woff"),
    url("GalanoGrotesque-Medium.ttf") format("truetype"),
    url("GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-ExtraBold.eot");
  src: url("GalanoGrotesque-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-ExtraBold.woff2") format("woff2"),
    url("GalanoGrotesque-ExtraBold.woff") format("woff"),
    url("GalanoGrotesque-ExtraBold.ttf") format("truetype"),
    url("GalanoGrotesque-ExtraBold.svg#GalanoGrotesque-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Fonts */
  --font-main: "Galano Grotesque", sans-serif;

  /* Colors */
  --solid-black: #000000;
  --solid-white: #ffffff;
  --color-main: #e6455a;
  --color-grey: #f1f1f1;
  --color-pink: #ffb6b6;

  --linear-grad-left: #ff7366;
  --linear-grad-right: #e6455a;
  --color-grad-main: linear-gradient(
    to right,
    var(--linear-grad-left),
    var(--linear-grad-right)
  );
}

/**************************************************************
**************************************************************/
/* Initiate */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--solid-black);
}
body {
  font-family: var(--font-main);
}

.bold-text {
  font-weight: 700;
}

/**************************************************************
**************************************************************/
/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.nav-logo {
  margin-left: 2.5rem;
}

.nav_elements {
  flex-grow: 0.5;
}

.nav_elements ul {
  display: flex;
  justify-content: space-between;
}

.sign_up {
  margin-right: 4rem;
}

.btn-main {
  /* Gradient Text */
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Gradient Text End*/
  padding: 0.5rem 1.5rem;
  position: relative;
}

.btn-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2.375rem;
  border: 2px solid transparent;
  background: var(--color-grad-main) border-box;
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/* .btn-main:hover {
  border-radius: 2.375rem;
  border: 2px solid transparent;
  background: var(--color-grad-main) border-box;
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
} */

#sign-up-btn {
  margin-left: 2.7rem;
}

.nav_elements ul .active {
  font-weight: 600;
  position: relative;
  /* Gradient Text */
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Gradient Text End*/
}

.nav_elements ul .active::after {
  content: "";
  width: calc(100% + 20px);
  height: 5px;
  background: var(--color-grad-main) border-box;
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 0;
}

.nav_elements ul .not-active:hover {
  /* Gradient Text */
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Gradient Text End*/
  transition: all 0.4s;
}

.nav_elements ul .not-active {
  position: relative;
}
.nav_elements ul .not-active::after {
  content: "";
  width: 100%;
  height: 5px;
  background: var(--color-grad-main) border-box;
  position: absolute;
  top: 25px;
  left: 0;
  opacity: 0;
}

.nav_elements ul .not-active:hover::after {
  animation: LtoR 0.4s forwards;
}
/**************************************************************
**************************************************************/
/* Hero */
.hero {
  margin-top: 1.75rem;
  height: 35rem;
  width: 100%;
  background: url(./images/hero-bg.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5.6875rem;
  padding-left: 6rem;
}

.hero h3 {
  font-size: 2.3125em;
  font-weight: 500;
  color: var(--color-main);
}

.hero h1 {
  font-size: 7.25em;
  font-weight: 500;
  color: var(--color-main);
}

.hero p {
  font-size: 1.375em;
  font-weight: normal;
  color: var(--solid-black);
  margin-top: 0.4rem;
}

.btn-red {
  color: var(--solid-white);
  background-color: var(--color-main);
  padding: 0.9375rem 1.5625rem;
  border: 2px solid var(--color-main);
  border-radius: 1.8rem;
  font-size: 1.375em;
  transition: color 0.6s, background-color 0.6s, border-color 0.6s;
}

.btn-red:hover {
  background-color: var(--solid-black);
  border-color: var(--solid-black);
}

.btn-trans {
  color: var(--color-main);
  padding: 0.9375rem 1.5625rem;
  border: 2px solid var(--color-main);
  border-radius: 1.8rem;
  font-size: 1.375em;
  transition: color 0.6s, background-color 0.6s;
}

.btn-trans:hover {
  color: var(--solid-white);
  background-color: var(--color-main);
}

.hero-btns {
  margin-top: 2.1875rem;
}

/**************************************************************
**************************************************************/
/* Section 1 */

.s1-content {
  width: 72%;
  margin: 5.25rem auto;
}

.s1-row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.9375rem;
}

.s1-row2 {
  display: flex;
  justify-content: space-between;
}

.cycle-temp {
  display: flex;
  flex-direction: column;
  width: 17.875rem;
  height: 17.875rem;
  background-color: var(--color-grey);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.cycle-temp > img {
  margin-top: -2rem;
}

.cycle-temp > h2 {
  font-size: 2.3125rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cycle-temp > p {
  font-size: 1.3125rem;
}

.pink-circle {
  background-color: var(--color-pink);
}

/**************************************************************
**************************************************************/
/* Hover Effects */
/* Floar Shadow */
.hvr-float-shadow {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Shadow Radial */
.hvr-shadow-radial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-shadow-radial:before,
.hvr-shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(
    50% 150%,
    ellipse,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at 50% 150%,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}
.hvr-shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(
    50% -50%,
    ellipse,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at 50% -50%,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}
.hvr-shadow-radial:hover:before,
.hvr-shadow-radial:focus:before,
.hvr-shadow-radial:active:before,
.hvr-shadow-radial:hover:after,
.hvr-shadow-radial:focus:after,
.hvr-shadow-radial:active:after {
  opacity: 1;
}

/**************************************************************
**************************************************************/
/* Animations */
@keyframes LtoR {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes straightUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
/**************************************************************
**************************************************************/
/* BackGround image for all the pages */
.BackGround_Image {
  height: 100%;
  background: url(./images/main-bg.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: center;
  align-self: center;
  align-items: center;
  padding-left: 7rem;
  align-items: center;
}
.Wrapper {
  margin-top: 2.5rem;
  height: 55rem;
  width: 90%;
  background-color: rgba(65, 56, 56, 0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  align-self: center;
  align-content: center;
  background-size: cover;
  vertical-align: middle;
  padding-top: 15rem;
}
button {
  border-radius: 75px;
  width: 224px;
  height: 75px;
  border: 1px solid #e6455a;
  background: var(--color-grad-main);
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.Email_Forogt_Pass {
  font-weight: bold;
  text-align: center;
}
.Button {
  margin-top: 6rem;
  text-align: center;
}
input.Email_Forogt_Pass {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 50%;
  font-size: large;
}
input.Email_Forogt_Pass {
  border-radius: 20px;
}
input.Email_Forogt_Pass:focus {
  outline: none !important;
  border: 2px solid var(--color-main);
}
btn.Resend_Code {
  color: #000;
  font-size: 14px;
  text-decoration: underline;
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  margin-left: 24%;
}
.Menu-Btn {
  border-radius: 23px;
  width: 70px;
  height: 80px;
  margin-left: 25px;
  border: 1px solid #e6455a;
  background: var(--color-grad-main);
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.Menu-Btn:hover {
  opacity: 0.5;
}
.Menu {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 0px;
  padding: 0 5px;
  height: 35rem;
  background-color: rgba(65, 56, 56, 0.7);
  border-radius: 13px;
  z-index: 100%;
}
.Menu ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}
.Menu ul .Active {
  color: #e6455a;
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
}
.Menu ul li {
  line-height: 80px;
  list-style: none;
}
.Menu ul li a,
.Menu ul li span {
  display: block;
  height: 80px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
}
.Menu ul li a:hover {
  color: #e6455a;
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
}
.List {
  left: 0px;
  bottom: 0px;
  height: inherit;
  width: 1236px;
  padding-top: 2.5rem;
}
.List ol li span,
.List ol li a {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  vertical-align: text-bottom;
  flex-grow: 1;
}
.List ol li {
  line-height: 58.44px;
  list-style: none;
  display: flex;
  width: 1236px;
  color: #000;
  height: 58.44px;
  border-radius: 36px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #e6455a;
  white-space: nowrap;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}
.List ol li:hover {
  opacity: 0.8;
}
.Search_Area {
  align-items: center;
  display: inline-block;
}
input.Search_Bar {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  height: 51px;
  width: 508px;
  font-size: large;
  border-radius: 38px;
  border-color: #e6455a;
}
input.Search_Bar:focus {
  outline: none !important;
  border: 2px solid var(--color-main);
}
button.Search_Bar {
  width: 50px;
  height: 51px;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  padding: 0px 0px;
  background-color: transparent;
  margin-top: 0%;
  background: url(./images/Search_icon.png) no-repeat center;
}
button.Filter_Button {
  width: 126px;
  height: 51px;
  cursor: pointer;
  color: #e6455a;
  font-weight: bold;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px 0px;
  background: none;
}
button.See_More {
  width: 224px;
  height: 75px;
  cursor: pointer;
  color: #000;
  font-weight: bolder;
  font-size: 18px;
  background-color: transparent;
  border-radius: 75px;
  padding: 0px 0px;
  background: none;
  align-self: center;
}
button.Remove_Btn {
  width: 41px;
  height: 41px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  background-color: #fff;
  background: white;
  padding: 0px 0px;
  border-radius: 20.5px;
  align-self: center;
}
button.Download_CV {
  width: 134px;
  height: 34px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;
  background: white;
  padding: 0px 0px;
  border-radius: 34px;
  align-self: center;
}
.List ol li.Book_Visit {
  line-height: 151px;
  list-style: none;
  display: flex;
  width: 1236px;
  color: #000;
  height: 151px;
  border-radius: 119px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #e6455a;
  white-space: nowrap;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}
div.Book_Visit {
  width: 129px;
  height: 129px;
  border-radius: 64.5px;
  background-color: #fff;
  align-self: center;
  padding-left: 10px;
}
.Show_Visit {
  left: 0px;
  bottom: 0px;
  height: inherit;
  width: 1236px;
  /* width:90%; */
  padding-top: 2.5rem;
}
.Show_Visit ul li.Upper {
  line-height: 58.44px;
  list-style: none;
  display: flex;
  width: 1236px;
  color: #000;
  height: 58.44px;
  border-radius: 36px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #e6455a;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
.Show_Visit ul li.Lower {
  line-height: 118px;
  list-style: none;
  display: block;
  width: 1236px;
  color: #000;
  height: 118px;
  border-radius: 36px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}
.Show_Visit ul li span,
.Show_Visit ul li a {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  vertical-align: text-bottom;
  flex-grow: 1;
}
.Show_Visit ul li span.Lower {
  display: flex;
  padding: 0px 0px;
  line-height: 59px;
  flex-grow: 1;
}
button.Show_Presciption {
  width: 203px;
  height: 40px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  background: #e6455a;
  padding: 0px 0px;
  margin-left: 20px;
  border-radius: 38px;
  align-self: center;
}
.Show_Visit ul li.Lower_2 {
  line-height: 58.44px;
  list-style: none;
  display: block;
  width: 1236px;
  color: #000;
  height: 58.44px;
  border-radius: 36px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.construction img {
  filter: invert(82%) sepia(40%) saturate(7385%) hue-rotate(318deg)
    brightness(100%) contrast(103%);
  transform: scale(2);
}

.construction h1 {
  font-size: 89px;
  font-weight: 400;
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.construction p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.construction {
  width: 80%;
  margin: 90px auto;
}

.bg {
  background: url(/images/main-bg.png) no-repeat;
  background-size: cover;
}
.Presciption {
  width: 90%;
  height: 125px;
  border-radius: 75px;
  background-color: #e6455a;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  align-self: center;
  background-size: cover;
  vertical-align: middle;
}
.Presciption ul {
  padding: 10px 10px;
  padding-top: 0px;
  display: flex;
  line-height: 50px;
}
.Presciption ul li {
  padding: 0px 0px;
  padding-top: 10px;
  list-style: none;
  display: block;
  flex-grow: 1;
}
.Presciption ul li span {
  padding: 0px 0px;
  padding-top: 5px;
  list-style: none;
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 90%;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
.Medicine_List ul {
  padding: 0px 0px;
  padding-top: 0px;
  list-style: none;
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
.Medicine_List ul li {
  display: flex;
}
.Medicine_List ul li span,
.Medicine_List button {
  padding-top: 20px;
  flex-grow: 1;
}
.Table_Header {
  line-height: 58.44px;
  list-style: none;
  width: 90%;
  color: #000;
  height: 58.44px;
  border-radius: 36px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #e6455a;
  text-align: center;
  display: flex;
  margin-top: 3%;
  align-self: center;
  align-items: center;
  margin-left: 3%;
  margin-bottom: 5%;
}
.Table_Header span {
  flex-grow: 1;
}
.Table input {
  width: fit-content;
  height: 50px;
  border-radius: 40px;
  border-color: #e6455a;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-right: 4%;
}
.Table {
  display: block;
  width: 90%;
}
.Table span {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  align-items: center;
  margin-right: 1%;
}
.Table ul {
  display: flex;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
placeholder {
  color: #000;
  opacity: 0.3;
}
