/* Root */
/* Fonts */
@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Bold.eot");
  src: url("GalanoGrotesque-Bold.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Bold.woff2") format("woff2"),
    url("GalanoGrotesque-Bold.woff") format("woff"),
    url("GalanoGrotesque-Bold.ttf") format("truetype"),
    url("GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Regular.eot");
  src: url("GalanoGrotesque-Regular.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Regular.woff2") format("woff2"),
    url("GalanoGrotesque-Regular.woff") format("woff"),
    url("GalanoGrotesque-Regular.ttf") format("truetype"),
    url("GalanoGrotesque-Regular.svg#GalanoGrotesque-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Thin.eot");
  src: url("GalanoGrotesque-Thin.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Thin.woff2") format("woff2"),
    url("GalanoGrotesque-Thin.woff") format("woff"),
    url("GalanoGrotesque-Thin.ttf") format("truetype"),
    url("GalanoGrotesque-Thin.svg#GalanoGrotesque-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-Medium.eot");
  src: url("GalanoGrotesque-Medium.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-Medium.woff2") format("woff2"),
    url("GalanoGrotesque-Medium.woff") format("woff"),
    url("GalanoGrotesque-Medium.ttf") format("truetype"),
    url("GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("GalanoGrotesque-ExtraBold.eot");
  src: url("GalanoGrotesque-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("GalanoGrotesque-ExtraBold.woff2") format("woff2"),
    url("GalanoGrotesque-ExtraBold.woff") format("woff"),
    url("GalanoGrotesque-ExtraBold.ttf") format("truetype"),
    url("GalanoGrotesque-ExtraBold.svg#GalanoGrotesque-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Fonts */
  --font-main: "Galano Grotesque", sans-serif;

  /* Colors */
  --solid-black: #000000;
  --linear-grad-left: #ff7366;
  --linear-grad-right: #e6455a;
  --color-grad-main: linear-gradient(
    to right,
    var(--linear-grad-left),
    var(--linear-grad-right)
  );
}

/**************************************************************
**************************************************************/
/* Initiate */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--solid-black);
}
body {
  font-family: var(--font-main);
}

.bold-text {
  font-weight: 700;
}
/**************************************************************
**************************************************************/
/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.nav-logo {
  margin-left: 2.5rem;
}

.nav_elements {
  flex-grow: 0.5;
}

.nav_elements ul {
  display: flex;
  justify-content: space-between;
}

.sign_up {
  margin-right: 4rem;
}

.btn-main {
  /* Gradient Text */
  background-image: var(--color-grad-main);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Gradient Text End*/
  padding: 0.5rem 1.5rem;
  position: relative;
}

.btn-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2.375rem;
  border: 2px solid transparent;
  background: var(--color-grad-main) border-box;
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

#sign-up-btn {
  margin-left: 2.7rem;
}
